
.sec-text {
	display: block;
	font-family: 'Muli', sans-serif;
	font-size: 1.5rem;
	color: rgba(0, 0, 0, .8);
	text-align: center;
	margin: 50px 0;
}
.sec-text ul {
	list-style: none;
	padding-left: 0;
}
.sec-text ul li {
	font-weight: 300;
}
.section h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: 'Josefin Slab', serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 500;
	margin-left: 12px;
	margin-bottom: 5px;
}
.section ul li a {
	color: rgba(0, 0, 0, .8);
	cursor: pointer;
}
.sec-img {
	text-align: center;
	margin-top: 200px;
	opacity: 0.7;
}
.sec-img img {
	margin:0 auto;
}
#menu {
	padding: 40px;
	list-style-type: square;
	list-style: none;
	text-align: center;
	height: 120px;
}
#menu li {
	display: block;
	font-family: 'Josefin Slab', serif;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 1.5rem;
}
#menu li a,  div[data-anchor="9thPage"] ul li a{
	text-decoration: none;
	color: rgba(0, 0, 0, .8);
}
#menu li.active a,  div[data-anchor="9thPage"] ul li a {
	position: relative;
	z-index: 1;
}
#menu li.active a:before,  div[data-anchor="9thPage"] ul li a:before {
	content: "";
	margin: 0 auto; 
	position: absolute;  
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;
	z-index: -1;
}
li[data-menuanchor="firstPage"].active a:before {
	border-top: 1px solid rgba(255, 135, 111, 1);
}
li[data-menuanchor="secondPage"].active a:before {
	border-top: 1px solid rgba(151, 206, 213, 1);
}
li[data-menuanchor="3rdPage"].active a:before {
	border-top: 1px solid rgba(148, 140, 250, 1);
}
li[data-menuanchor="4thPage"].active a:before {
	border-top: 1px solid rgba(254, 195, 103, 1);
}
li[data-menuanchor="5thPage"].active a:before {
	border-top: 1px solid rgba(145, 250, 200, 1);
}
li[data-menuanchor="6thPage"].active a:before {
	border-top: 1px solid rgba(238, 241, 160, 1);
}
li[data-menuanchor="7thPage"].active.active a:before {
	border-top: 1px solid rgba(241, 160, 211, 1);
}
li[data-menuanchor="8thPage"].active a:before {
	border-top: 1px solid rgba(100, 174, 255, 1);
}
li[data-menuanchor="9thPage"].active a:before,  div[data-anchor="9thPage"] ul li:hover a:before {
	border-top: 1px solid rgba(195, 232, 106, 1);
}

 div[data-anchor="firstPage"] div {
	border: 20px solid rgba(255, 135, 111, .5);
}
 div[data-anchor="secondPage"] div {
	border: 20px solid rgba(151, 206, 213, .5);
}
 div[data-anchor="3rdPage"] div {
	border: 20px solid rgba(148, 140, 250, .5);
}
 div[data-anchor="4thPage"] div {
	border: 20px solid rgba(254, 195, 103, .5);
}
 div[data-anchor="5thPage"] div {
	border: 20px solid rgba(145, 250, 200, .5);
}
 div[data-anchor="6thPage"] div {
	border: 20px solid rgba(238, 241, 160, .5);
}
 div[data-anchor="7thPage"] div {
	border: 20px solid rgba(241, 160, 211, .5);
}
 div[data-anchor="8thPage"] div {
	border: 20px solid rgba(100, 174, 255, .5);
}

 div[data-anchor="9thPage"] div {
	border: 20px solid rgba(195, 232, 106, .5);
}




#fullpage .section.fp-section {
	background: transparent!important;
	padding-top: 0!important;
	padding-bottom: 0!important;

}
@media (min-width:768px) {
	.sec-text {
		float: right;
		text-align: right;
		padding: 40px;
		font-size: 2rem;
	}

	.sec-img {
		float: left;
		
	}
	.sec-img  img {
		float: left;
	}
	.section div {
		padding-top: 10%;
	}


}
@media (min-width:992px) {
	.sec-img {
		margin-top: 0;
	}
	.sec-img img {
		width: 100%;
	}
}